<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <div class="clock">

        <h2 class="title">chronono</h2>
        <div class="clockdiv" id="hours_control">

            <svg class="progress" width="240" height="240" viewBox="0 0 240 240">
                <circle class="progress__meter" cx="120" cy="120" r="108" stroke-width="24" />
                <circle class="progress__value" cx="120" cy="120" r="108" stroke-width="24" id="hours_value" />
                <text x="40" y="-75" transform="rotate(90, 0, 0)" font-family="Courier" font-size="140" letter-spacing="-10" fill="#A0A0A0"
                    id="hours_text">00</text>
            </svg>

        </div>

        <div class="clockdiv" id="minutes_control">

            <svg class="progress" width="240" height="240" viewBox="0 0 240 240">
                <circle class="progress__meter" cx="120" cy="120" r="108" stroke-width="24" />
                <circle class="progress__value" cx="120" cy="120" r="108" stroke-width="24" id="minutes_value" />
                <text x="40" y="-75" transform="rotate(90, 0, 0)" font-family="Courier" font-size="140" letter-spacing="-10" fill="#A0A0A0"
                    id="minutes_text">00</text>
            </svg>

        </div>

        <div class="clockdiv" id="seconds_control">

            <svg class="progress" width="240" height="240" viewBox="0 0 240 240">
                <circle class="progress__meter" cx="120" cy="120" r="108" stroke-width="24" />
                <circle class="progress__value" cx="120" cy="120" r="108" stroke-width="24" id="seconds_value" />
                <text x="40" y="-75" transform="rotate(90, 0, 0)" font-family="Courier" font-size="140" letter-spacing="-10" fill="#A0A0A0"
                    id="seconds_text">00</text>
            </svg>

        </div>

        <h3 id="info"></h3>
    </div>

    <div class="clock">

        <input id="start" type="button" class="button" value="Start" />
        <input id="stop" type="button" class="button" value="Stop" />
        <input id="reset" type="button" class="button" value="Reset" />

    </div>

    <div class="clock">

        <textarea id="logs" rows="5" style="width: 600px" disabled></textarea>
    </div>
    <div class="clock">
        <input id="clear" type="button" class="button-sm" value="Clear" />
    </div>

    <script src="app.js"></script>

</body>

</html>