body {
    background: #303030;
    color: gray;
}

textarea {
    background: #303030;
    color: gray;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.progress {
    transform: rotate(-90deg);
}

.progress__meter,
.progress__value {
    fill: none;
}

.progress__meter {
    stroke: #404040;
}

.progress__value {
    stroke: #38738E;
    stroke-linecap: round;
}

.clock {
    display: block;
    margin: auto;
    text-align: center;
    font-family: Helvetica;
}

.clockdiv{
    display: inline-block;
    text-align: center;
}

.control {
    width: 200px
}

.button {
    background-color: black;
    color: white;
    border: 0px solid #A0A0A0;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
}

.button-sm {
    background-color: black;
    color: white;
    border: 0px solid #A0A0A0;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 5px;
    cursor: pointer;
}

.button:hover:not([disabled]) {
    background-color: lightgray;
    color: black;
}

.button:focus {outline:0;}

.title {
    text-shadow: 0 0 20px black;
    color: lightgray;
    font-size: 40px;
}